/* ================================================== */

/* ================================================== */

/* ================================================== */

/* ================================================== */

/* ================================================== */

/* ================================================== */
.suspicious-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    }
/* --------------- */
.suspicious-link-link {
    position: relative; 
    display: block;
    width: 25%;
    height: auto;
    border-radius: 25px;
    text-align: center;
    background: #3c1414;
    font-size: 20px;
    color: #C0C0C0;
    transition: .5s;
    }

.suspicious-link-link:hover {
    color: #FF2400;
    box-shadow: 0 0 5px #FF2400;
    text-shadow: 0 0 5px #FF2400;
    }
