/* -------------------------------------------------- */
body{

}
/* -------------------------------------------------- */
.page-intro{
    text-align: center;
}

/* -------------------------------------------------- */
.warning-note{
    text-decoration-color: white;
    
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-style: solid;
    border-color: #FBFF12;
    border-width: 3px;
}

/* -------------------------------------------------- */
.project-list{
    
}

/* -------------------------------------------------- */
.project-item{
    
}

/* -------------------------------------------------- */
.project-name{

}

/* -------------------------------------------------- */
.suspicious-link{
    margin: 50%;
    font-size: 20px;
    margin-bottom: 50px;
    color: #EA3546;
    border-style: double;
    border-width: 5px;
    border-color: #495867;
    
}