
/* ================================================== */
body {
    background: #ACDDDE;
}

/* ================================================== */
.page-intro {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    margin-top: -30px;
}

.page-intro h1 {
    font-family: 'Dancing Script', cursive;
    color: #ffffff;
    padding: 25px;
    width: 100%;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/082/615/small/header-with-black-and-blue-overlapped-arrows-abstract-modern-banner-with-place-for-your-text-material-design-abstract-widescreen-background-vector.jpg");
    border-bottom: solid;
    border-color: #0047AB;
    border-width: 5px;
    box-shadow: 0 0 5px #0096FF;
}

.page-intro p {
    color: #ffffff;
    background: #000000;
    border: solid;
    border-color: #C0C0C0;
    border-width: 5px;
    border-radius: 10px;
    width: 30%;
    padding: 10px;
}

/* ================================================== */
.warning-size {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.warning {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    width: 25%;
}

.warning h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 35%;
    border: double;
    border-width: 5px;
    border-color: #0047AB;
    box-shadow: 0 0 10px #0096FF;

}

.warning p {
    border: solid;
    border-color: #000000;
    background-color: #000000;
    box-shadow: 10px 10px 10px #eed202;
    color: #eed202;
    padding: 25px;
    width: 75%;
    overflow-y: scroll;
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
}

.warning:hover p {
    opacity: 1;
}

.warning:hover h3 {
    opacity: 0;
}

/* ================================================== */
.jump-links {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.jump-links a {
    text-decoration: none;
    color: #C0C0C0;
    background: #000000;
    padding: 10px;
    border: solid;
    border-color: #0047AB;
    border-width: 3px;
    margin: 10px;
    transition: .5s;
}

.jump-links:visited {
    text-decoration: none;
}

.jump-links a:hover {
    color: #7DF9FF;
    background: #191970;
    text-shadow: 0 0 10px #7DF9FF;
    box-shadow: 0 0 10px #0096FF;

}

/* ================================================== */
.project-list {
    width: 100%;
}

/* --------------- */
.project-item {
    margin: 25px;
    margin-top: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.project-item iframe {
    background: #000000;
    border: solid;
    border-width: 3px;
    border-color: #0047AB;
    box-shadow: 0 0 10px #0096FF;
    padding: 25px;
}

/* --------------- */
.project-name {
    padding: 10px;
    text-align: center;
    width: 40%;
    border-radius: 25px;
    background: #000000;
    color: #f0ffff;
    border: solid;
    border-color:#FF2400;
    box-shadow: 0 0 10px #FF2400;
}

/* ================================================== */
.suspicious-link {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0;
}

/* --------------- */
.suspicious-link-link {
    padding: 5px;
    position: relative; 
    display: block;
    width: 25%;
    height: auto;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    background: #000000;
    font-size: 20px;
    color: #C0C0C0;
    transition: 1s;
}

.suspicious-link-link:hover {
    color: #FF2400;
    background: #3c1414;
    border: solid;
    border-color: #FF2400;
    box-shadow: 0 0 10px #FF2400;
    text-shadow: 0 0 10px #FF2400;
}
